.hotel-card {
  display: flex;
  flex-direction: column;
  flex: 1 0 300px;
  margin: 10px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.hotel-image {
  width: 100%;
  max-height: 200px; /* Set max height for the image */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 16px 16px 0 0;
}

.hotel-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the content horizontally */
}

.hotel-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.hotel-info {
  margin-bottom: 10px;
}

.phone-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.phone-list li {
  font-size: 14px;
  margin-bottom: 5px;
}

.hotel-link {
  color: black;
}

.rating {
  margin-top: 10px;
  align-items: center;
  display: flex;
  justify-content: center; /* Adjust margin top for the rating component */
}
.hotel-rating {
  align-self: center;
  justify-content: center;
}
