/* PaymentScreen.css */

.create-screen {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Ensure it appears above other content */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-screen-modal {
  background-color: white;
  padding: 20px;
  width: 80%;
  max-width: 600px;

  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  align-items: center;
}

.create-form {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.create-form > div {
  margin-bottom: 10px;
}

.create-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.create-form input[type="number"],
.create-form select,
.create-form input[type="checkbox"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px; /* Space between input fields */
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
}

.create-form button {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.create-form button[type="submit"] {
  background-color: #4caf50; /* Green */
  color: white;
}
.create-form input[type="checkbox"] {
  transform: scale(1.5); /* Adjust scale as needed */
  margin-right: 10px; /* Adds some space between the checkbox and the label */
  cursor: pointer; /* Makes it clear the checkbox is clickable */
}
.checkbox-container {
  display: flex;
  align-items: center; /* Aligns the checkbox and label vertically */
  margin-bottom: 10px; /* Adds some space between checkbox rows */
}

.create-form button[type="button"] {
  background-color: #f44336; /* Red */
  color: white;
}
