.hotel-chain-card {
  display: inline-flex;
  flex-direction: column;
  flex: 1 0 300px;
  margin: 10px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.hotel-chain-image {
  width: 100%;
  max-height: 200px; /* Set max height for the image */
  object-fit: cover; /* Maintain aspect ratio and cover the container */
  border-radius: 16px 16px 0 0;
}

.hotel-chain-details {
  padding: 20px;
}

.hotel-chain-name {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: bold;
}

.hotel-chain-info {
  margin-bottom: 10px;
}

.phone-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.phone-list li {
  font-size: 14px;
  margin-bottom: 5px;
}

.hotel-chain-link {
  color: black;
}
